# Nama alur kerja yang akan ditampilkan di tab Actions di GitHub
name: Publish

permissions:
  id-token: write # Required for OIDC
  contents: read

on:
  workflow_dispatch:
    inputs:
      version_bump:
        description: "Pilih jenis kenaikan versi"
        required: true
        type: choice
        options:
          - patch
          - minor
          - major

jobs:
  release:
    name: Tag, Build, and Publish Release
    runs-on: ubuntu-latest

    permissions:
      id-token: write # Required for OIDC
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: "latest"

      - name: Setup Node.js for npm
        uses: actions/setup-node@v6
        with:
          node-version: "20"
          registry-url: "https://registry.npmjs.org"

      - name: Cache Bun dependencies
        uses: actions/cache@v5
        with:
          path: |
            ~/.bun/install/cache
            node_modules
          key: ${{ runner.os }}-bun-${{ hashFiles('**/bun.lock') }}
          restore-keys: |
            ${{ runner.os }}-bun-

      - name: Configure Git
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Bump version, commit, and tag
        id: tag_version
        run: |
          # Menggunakan 'bun pm version' dengan tipe kenaikan yang dipilih (major, minor, atau patch)
          # Perintah ini secara otomatis memperbarui package.json, membuat commit, dan membuat tag.
          # Output dari perintah ini adalah nomor versi baru (misalnya, v2.3.0), yang kita tangkap.
          NEW_VERSION=$(bun pm version ${{ github.event.inputs.version_bump }} -m "chore(release): bump version to %s")
          echo "new_version_tag=${NEW_VERSION}" >> $GITHUB_OUTPUT

      - name: Build
        env:
          NODE_ENV: production
          TZ: Asia/Jakarta
        run: |
          bun test
          NODE_ENV=production TZ=Asia/Jakarta bun ./build.ts

      - name: Upgrade npm for publishing
        run: npm install -g npm@latest

      - name: Publish to npm
        run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Push changes and tags
        run: git push origin ${{ github.ref_name }} --follow-tags

      - name: Create GitHub Release and Upload Assets
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.tag_version.outputs.new_version_tag }}
          name: Release ${{ steps.tag_version.outputs.new_version_tag }}
          generate_release_notes: true
          files: ./out/*
